
.wrapper{
  background: linear-gradient(0deg, var(--secondary), var(--primary));
  display: grid;
  place-items: center;
  height: 6rem;
  .container {
    color: var(--white-color);
    width: 100%;
    max-width: 80rem;
  }
}


.d-flex {
  display: flex;
  flex: 1fr;
  justify-content: space-between;
}

.main-header {
  .logo {
    padding: 0.25rem 2.5rem 0 0.25rem;
  }

  .nav-wrapper {
    margin-top: 1rem;
    width: 100%;
    & .search-bar {
      align-items: center;
      justify-content: space-evenly;
      height: 2.5rem;
      background-color: var(--background-tertiary);

      & input {
        height: 100%;
        border: none;
        outline: none;
      }
      & button {
        height: 80%;
        border: none;
        outline: none;
        background: var(--tertiary);
      }
    }
    .header-navbar{
      padding-block: 0.5rem;
    }
  }

  .cart-icon {
    padding: 1.5rem 2rem 0rem;
  }
}
