.primary-button {
  border: none;
  outline: none;
  background: var(--tertiary);
}
.outline-button {
  border-width: 0.1rem;
  border-color: var(--smoke-white);
  background: var(--background-tertiary);
}