
.wrapper{
  background: var(--background-tertiary);
  display: grid;
  place-items: center;
  height: 5.5rem;
  .container {
    color: var(--primary);
    width: 100%;
    max-width: 80rem;
  }
  h2{
    transform: translate(12.5%, 25%);
    font-size: 1.75rem;
    font-weight: 300;
    color: black;
  }
}


.d-flex {
  display: flex;
  flex: 1fr;
  justify-content: space-between;
  align-items: center;
}

