.wrapper {
  background: var(--primary);
  display: grid;
  place-items: center;
  height: 2.5rem;
  .container {
    color: var(--white-color);
    width: 100%;
    max-width: 80rem;
    padding-top: 0.3rem;
  }
}

.d-flex {
  display: flex;
  flex: 1fr;
  justify-content: space-between;
}
.settings {
  .connections {
    & div:nth-child(n + 2)::before {
      content: "|";
      padding-left: 0.6rem;
      padding-right: 0.5rem;
      opacity: 0.3;
    }
    .media-connections {
      & :nth-child(n + 2) {
        padding-left: 0.3rem;
        transform: translateY(-10%);
      }
    }
  }

  .customer-settings {
    & div:nth-child(n) {
      padding-left: 1rem;
    }

    & div p {
      padding-inline: 0.25rem;
    }

    & img {
      border-radius: 50%;
      transform: translateY(-10%);
    }
  }
}
