@import "normalize.css";


//setup
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  --primary: rgb(245, 62, 45);
  --secondary: rgb(254,100,50);
  --tertiary:rgb(238,77,45);

  --background-primary: rgb(251,251,251);
  --background-secondary: rgb(245,245,245);
  --background-tertiary: white;
  
  font-family: "Roboto", sans-serif;
  font-size: 0.9rem;
}


