.divider {
  height: 0.25rem;
  background: linear-gradient(var(--secondary), var(--primary));
  margin-bottom: 5rem;
}
ul {
  list-style-type: none;
  & li::before {
    content: "";
    padding: 0.5rem;
  }
  & li {
    padding-bottom: 0.5rem;
  }
}

.d-flex {
  display: flex;
  flex: 1fr;
  justify-content: space-between;
}
