.divider {
  height: 0.25rem;
  background: linear-gradient(var(--secondary), var(--primary));
  margin-bottom: 5rem;
}
.wrapper{
  display: grid;
  place-items: center;
  background-color: var(--background-primary);
  
  .container {
    width: 100%;
    max-width: 80rem;
    padding: 1.5rem 0 1rem 0;
    
    ul {
      list-style-type: none;
      li {
        padding-bottom: 0.5rem;
      }
    }

    h3{
      padding-block: 1rem;
      text-transform: uppercase;
    }

    .abate{
      display: grid;
      grid-template-columns:repeat(3,1fr);
      gap: 0.4rem;

      img{
        background-color: white;
      }
      
      li {
        padding-bottom: 0;
      }
    }
    .socials li{
      display: flex;
      align-items: center;
      gap: 0.3rem;
    }
  }

  .privileges{
    ul li:nth-child(n+2)::before{
      content: "|";
      padding-inline: 0.2rem;
    }
  }
}

.wrapper-secondary{
  display: grid;
  place-items: center;
  background-color: var(--background-secondary);
  
  .container {
    max-width: 80rem;
    padding: 1.5rem 0 1rem 0;
    
    ul {
      list-style-type: none;
      li:nth-child(n+2)::before{
        content: "|";
        padding-inline: 0.2rem;
      }
      justify-content: center;
    }
    .description{
      padding-top: 2rem;
      text-align: center;
      line-height: 1.5rem;
    }
  }
}

.d-flex {
  display: flex;
  flex: 1fr;
  justify-content: space-between;
}
