.input-box {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  background-color: var(--background-tertiary);


  & input {
    width: 100%;
    border: none;
    outline: none;
  }
}